body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    height: 50vh;
    border: 2px solid black;
  }

  #chess-engine {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .project-heading {
    text-align: center;
  }

  h1, h4 {
    margin: 0;
  }

  img {
    max-width: 100%; /* Make the image take up 100% of the available width, but not more than its intrinsic size */
    height: auto; /* Maintain the aspect ratio */
  }

  .project-link {
    margin-top: auto;
  }