body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    height: 50vh;
    border: 2px solid black;
  }

  #chess-engine {
    text-align: center;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    justify-content: flex-end; /* Add this line */
  }

  .project-link {
    margin-top: auto;
  }