:root {
    --primary-color: white;
    --secondary-color: black;
    --theme: 0;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50vh;
    height: 50vh;
    border: 2px solid black;
    position: relative; /* Add this line */
}

#chess-engine {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.project-link {
    position: absolute; /* Add this line */
    bottom: 0; /* Add this line */
}

.project-heading {
    text-align: center;
}

h1, h4 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}
